<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact form</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <div class="c-container">
        <form>
            <div class="input-sec">
                <input type="text" placeholder="Full Name" required>
            </div>
            <div class="input-sec">
                
                <input type="email" placeholder="email" required>
            </div>
            <div class="input-sec">
              
                <input type="phone" placeholder="Phone Number(optional)">
            </div>
            <div class="input-sec">
                
                <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            </div>

            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>