* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", cursive;
  overflow-x: hidden;
}



/* nav bar */
header{
  background: linear-gradient(0deg,transparent, #02003065 70%);

  top: 0;
  position: fixed;
  padding: 0rem 2rem;
  width: 100%;
  z-index: 1;
  transition: 400ms;
}
.nav-bar{
  width: 98%;
  height: 70px;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo img {
  width: 35px; 
}
.logo a{
  font-family: "Comic Sans MS", cursive;
  color: rgb(207, 76, 142);
  text-decoration: none;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-size: 25px;
  opacity: 0;

}
/* ________________ */

.search{
  /* background-color: #020030; */
  height: 40px;
  flex: 0.6;
  display: flex;
  justify-content: center;
}
.search-input {
  background-color: #ffffffbb;
  backdrop-filter:blur(45px);
  width: 90%;
  padding: 0.5rem 25px;
  border: none;
  outline: none;
  border-radius: 20px 0 0 20px;
  font-size: 1rem;
}
.search-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  background-color: rgb(255, 222, 227);
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button img{
  height: 20px;
}
.search-button:hover img{
  filter: invert();
}
.search-button:hover{
  background-color:#556fff;
}

@media (max-width: 500px) {
  .search-input{
    display: none;
  }
  .search-button{
  border-radius: 20px;
  }
}
/* ______________ */

.nav-bar .toggle-btn{
  color: #9e06b3;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.nav-bar .links{
  display: flex;
  gap: 1.2rem;
}
.dropdown{
  background-color: antiquewhite;
}
.dropdown a, .nav-bar .links a{
  text-decoration: none;
  padding: 2px 10px;
  border-radius: 5rem;
  color: #e06c9f;
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  transition: 200ms;
}
.nav-bar .links a{
  color: white;
  font-weight: 500;
}



header.scrolled {
  background: none;
  background-color: #ffffffbb;  
  backdrop-filter:blur(45px);
}
.logo a.scrolled  {
  opacity: 1;
}
.nav-bar .links a.scrolled{
  color:#120e5c;
  font-weight: 500;
}
.nav-bar .links a:hover{
  background-color: #c8c5f894;
  color: #e91e63;
}

/* DROPDOWN */
.dropdown
{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.999);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown.open
{
  height: auto;
}
.dropdown li
{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  list-style: none;
}


/* _______HERO SECTION_________ */
.hero{
  height: 100vh;
  display: flex;
  flex-direction: column  ;
  align-items: center;
  justify-content: center;
}
.hero img{
  position: absolute;
  height: 100svh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
  object-position: bottom left;
}

.tagline{
  margin: 40px;
}
.tagline p{
  font-size: max(2.3dvw ,20px);
  font-weight: 900;
  color: white; 
  text-shadow: 0 0 18px #4b0621;
}

.sign {
  font-size: 6em;  
  color: #ffe6ff;  
  text-shadow: 
    0 0 0.6rem #ffe6ff,
    0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd,
    0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483,
    0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%, 22%, 36%, 75% {
    color: #ffe6ff;
    text-shadow: 
      0 0 0.6rem #ffe6ff,
      0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd,
      0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483,
      0 0.5rem 3rem #ff2483;
  }
  28%, 33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%, 97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 
      0 0 0.6rem #ffe6ff,
      0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd,
      0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483,
      0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 900px) {
  .nav-bar .links,
  .links a{
      display: none;
  }
  .nav-bar .toggle-btn{
      /* position: fixed; */
      display: block;
  }
  .dropdown{
      /* position: fixed; */
      display: block;
  }
  .dropdown{
    background-color: antiquewhite;
  }

}


@media (max-width: 480px) {
  .sidebar {
    width: 100%;
  }
  
  .sign {
    font-size: 4em; 
  }
}

/* ____________ MAIN CONTENT_______________ */
main{
  background: linear-gradient(0deg, pink 0%,#556fff 50%, #020030 100%);
}
#backgrounds , #buttons, #forms{
  padding:50px 10% ;
  display: flex;
  flex-direction: column;
}
section h2{
  /* font-family: Arial, sans-serif; */
  font-family: "Cinzel Decorative", serif;

}
.contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.template{
  border: 1px solid #c8c5f8;
  background-color: #c8c5f8;
  border-radius: 1rem;
  width: 320px; 
  margin: 20px;
  text-align: center;
  transition: 300ms;
}
.template:hover{
  box-shadow:0 0 20px #e06c9f;

}
#backgrounds h2, #buttons h2, #forms h2{
  padding: 40px 0;
  font-size: 40px;
  color: white;
}

.template img {
  width: 100%;
  max-height: 200px; 
  object-fit: cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.template p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}
.template .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 35px;
  margin: 10px;  
}
.template .btn a{
  font-size: 15px;
  color: rgb(18, 18, 136);
  padding: 2px 13px;
  border-radius: 50rem;
  border:1px solid  #e06c9f;
  text-decoration: none;
  transition: background-color 0.3s ease;

}
.template .btn a:hover{
  background-color: #e91e63;
  color: white;
  
}
.view-more {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 25px;
  background-color: rgba(49, 49, 49, 0.255);
  transition: background-color 0.3s ease;
}

.view-more:hover {
  background-color: #e91e63; 
}
