* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("./Images/wp4712014-city-anime-wallpapers.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Comic Sans MS", cursive;
}



/* nav bar */
header{
  top: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  padding: 0 2rem;
}
.nav-bar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 50px; 
  height: auto;
}
.nav-bar .toggle-btn{
  color: #9e06b3;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.nav-bar .links{
  display: flex;
  gap: 2rem;
}


header {
  margin-left: auto;
  margin-right: auto;
  background-color: #fadcd9;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  position: relative; 
  z-index: 1; 
}
/* DROPDOWN */
.dropdown
{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.999);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown.open
{
  height: auto;
}
.dropdown li
{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  list-style: none;
}




.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 
    0 0 0.6rem #ffe6ff,
    0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd,
    0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483,
    0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%, 22%, 36%, 75% {
    color: #ffe6ff;
    text-shadow: 
      0 0 0.6rem #ffe6ff,
      0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd,
      0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483,
      0 0.5rem 3rem #ff2483;
  }
  28%, 33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%, 97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 
      0 0 0.6rem #ffe6ff,
      0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd,
      0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483,
      0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}


.search-bar{
  position: relative;
  margin-top: 210px;
  display:flex;
  justify-content: center;
  

}

.search-box{
  width: 300px;
  height: 30px;
  margin-right: 5px;
  border-radius: 15px;
  padding: 5px;
  border: none;
  outline: 1px solid red;
}


.search-icon{
  background-color:transparent;
  border: none;
}

.search-icon:hover{
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 900px) {
  .nav-bar .links,
  .links a{
      display: none;
  }
  .nav-bar .toggle-btn{
      /* position: fixed; */
      display: block;
  }
  .dropdown{
      /* position: fixed; */
      display: block;
  }

}



@media (max-width: 480px) {
  .sidebar {
    width: 100%;
  }
  
  .sign {
    font-size: 4em; 
  }
}