* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Comic Sans MS", cursive; */
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  overflow-x: hidden;
}


/* _______HERO SECTION_________ */
.hero{
  cursor: default;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero img{
  position: relative;
  height: 100svh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
  object-position: bottom;
}
.hero .heading{
  position: absolute;
  Top: 28%;
  left: 10%;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.tagline p{
  font-family: "Jersey 10 Charted", sans-serif; 
  font-size: max(2.3dvw ,20px);
  color: white; 
  font-size: 50px;
  text-shadow: 0 2px 8px #BD529D;
}
#hero-btn{
  margin: 40px 0;
}
#hero-btn a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #24224ea9;
  border: 2.5px solid #24224e;
  padding: 15px 40px ;
  transition: 200ms;
  border-radius: 3px;
}
#hero-btn a:hover{
  background-color: #24224e;
  /* border: 1.5px solid rgb(255, 215, 248); */
  box-shadow: 3px 3px 15px #e06c9eb0;
}

.sign {
  font-family: "Rubik Lines", "Monoton";
  letter-spacing: 5px;
  font-size: 6.3em;  
  color: #ffe6ff;  
  text-shadow: 
    0 0 0.6rem #ffe6ff,
    0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd,
    0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483,
    0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%, 22%, 36%, 75% {
    color: #ffe6ff;
    text-shadow: 
      0 0 0.6rem #ffe6ff,
      0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd,
      0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483,
      0 0.5rem 3rem #ff2483;
  }
  28%, 33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%, 97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 
      0 0 0.6rem #ffe6ff,
      0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd,
      0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483,
      0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

/* ____________ MAIN CONTENT_______________ */
main{
  background: linear-gradient(0deg, pink 0%,#556fff 50%, #020030 100%);
}
#backgrounds , #buttons, #forms{
  padding:50px 10% ;
  display: flex;
  flex-direction: column;
}
section h2{
  font-family: "Cinzel Decorative", serif;
  font-weight: 500;
}
.contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.template{
  border: 1px solid #c8c5f8;
  background-color: #c8c5f8;
  border-radius: 1rem;
  width: 320px; 
  margin: 20px;
  text-align: center;
  transition: 300ms;
}
.template:hover{
  box-shadow:0 0 20px #e06c9f;

}
#backgrounds h2, #buttons h2, #forms h2{
  padding: 40px 0;
  font-size: 40px;
  color: white;
}

.template img {
  width: 100%;
  max-height: 200px; 
  object-fit: cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.template p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}
.template .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 35px;
  margin: 10px;  
}
.template .btn a{
  font-size: 15px;
  color: rgb(18, 18, 136);
  padding: 2px 13px;
  border-radius: 50rem;
  border:1px solid  #e06c9f;
  text-decoration: none;
  transition: background-color 0.3s ease;

}
.template .btn a:hover{
  background-color: #e91e63;
  color: white;
  
}
.view-more {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 25px;
  background-color: rgba(49, 49, 49, 0.255);
  transition: background-color 0.3s ease;
}

.view-more:hover {
  background-color: #e91e63; 
}



/* ____________Footer_______________ */

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: linear-gradient(0deg, transparent, #02003060 70%);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

}



.github-icon {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
