/*animation applied here comes from utility.css */

main{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.contribute {
    box-sizing: border-box;
    background-color: #f8f5fc;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}

.contribute .heading{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    width: 70%;
    gap: 20px;
    text-align: center;
    animation: slideInFromBottom 0.3s ease-in-out;

}

/* Upload Section */
.upload-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    padding: 40px;
    border-radius: 1.5rem;
    box-shadow: 0 4px 50px rgba(255, 221, 245, 0.774);
    background-color: white;
    animation: slideInFromTop 0.5s ease-in-out;
}


form {
    width: 100%;
    display: flex;
    animation: fadeIn 1.25s ease-in-out;
}

.form-left,
.form-right {
    width: 50%;
    padding: 20px;
}

label {
    font-size: 1rem;
    color: #555;
    margin: 10px 0 5px;
}

.upload-section input[type="text"], .upload-section textarea, .upload-section input[type="file"] {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1rem;    
    animation: slideInFromBottom 0.7s ease-in-out;
    border: 1px solid #ccc;
}

.file-upload {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    background-color: #f9f9f9;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.file-upload:hover {
    border-color: hotpink;
}

.file-upload input[type="file"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.file-upload span {
    font-size: 16px;
    color: #999999;
}

.tags-section {
    margin-bottom: 20px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + span {
    border: 1px solid rgba(255, 105, 180, 0);
    border-radius: 5rem;
    padding: 5px 10px;
    background: #f0f0f0;
    color: #333;
}

input[type="checkbox"]:checked + span {
    background: rgb(255, 220, 238);
    border: 1px solid hotpink;
}

.submit-button {
    padding: 12px 25px;
    background-color: #32005a;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    align-self: center;
    animation: fadeIn 2s ease-in-out;
}

.submit-button:hover {
    background-color: hotpink;
    transform: scale(1.05);
}