.contact {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 10;
}
.contact div{
    width: 50%;
    margin: 50px;
    padding: 50px;
}

.contact h1 {
    text-align: center;
    color: #333;
}

.contact p {
    text-align: center;
    color: #555;
}

.contact-form {
    margin: 40px 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    margin: 10px 0 5px;
    color: #333;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form .submit-button {
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form .submit-button:hover {
    background-color: #005a4a;
}
